[submodule "forensics/binwalk"]
	path = files/forensics/binwalk
	url = https://github.com/ReFirmLabs/binwalk
[submodule "enumeration/nmap-script-vulscan"]
	path = files/enumeration/nmap-script-vulscan
	url = https://github.com/scipag/vulscan
[submodule "enumeration/nmap-script-vulners"]
	path = files/enumeration/nmap-script-vulners
	url = https://github.com/vulnersCom/nmap-vulners.git
[submodule "files/wordlists/seclists"]
	path = files/wordlists/seclists
	url = https://github.com/danielmiessler/SecLists
