[submodule "forensics/binwalk"]
	path = files/forensics/binwalk
	url = https://github.com/ReFirmLabs/binwalk
[submodule "enumeration/nmap-script-vulscan"]
	path = files/enumeration/nmap-script-vulscan
	url = https://github.com/scipag/vulscan
[submodule "enumeration/nmap-script-vulners"]
	path = files/enumeration/nmap-script-vulners
	url = https://github.com/vulnersCom/nmap-vulners.git
[submodule "files/wordlists/seclists"]
	path = files/wordlists/seclists
	url = https://github.com/danielmiessler/SecLists
[submodule "files/forensics/bulk_extractor"]
	path = files/forensics/bulk_extractor
	url = https://github.com/simsong/bulk_extractor
[submodule "files/attack/bettercap"]
	path = files/attack/bettercap
	url = https://github.com/bettercap/bettercap
[submodule "files/attack/pwntools"]
	path = files/attack/pwntools
	url = https://github.com/Gallopsled/pwntools
